* {
  box-sizing: border-box;
}
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji" "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-primary: "Amatic Sc";
  --color-tertiary: #7f7f90;
  --main-transition: 0.3s;
  --bg-color: #ce1212;
  --logo-color: #212529;
  --form-bg: #fff;
  --sec-bg: #eeeeee;
  --color-white: white;
  --color-white-17: #fff;
  --color-black: #000;
  --hover-bg-color: hsl(0, 84%, calc(44% + 5%));
  --home-p-color: #4f4f5a;
  --nav-color: white;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
img {
  width: 100%;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 85%;
  margin: auto;
}
/* Shape Divider */
.custom-shape-divider-top-1729088579 {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(360deg);
}

.custom-shape-divider-top-1729088579 svg {
  position: relative;
  display: block;
  width: 100%;
  height: 3.75rem;
}

.custom-shape-divider-top-1729088579 .shape-fill {
  fill: var(--color-white-17);
}
/* Nav BAR */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.625rem 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0rem 0.8125rem 1.6875rem -0.3125rem,
    rgba(0, 0, 0, 0.1) 0rem 0.5rem 1rem -0.5rem;
  background: var(--color-white);
  z-index: 999;
  background: var(--color-white);
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
}
.navbar .container h1 {
  margin-block: 0.9375rem;
}
.logo a {
  position: relative;
  font-family: var(--font-default);
  font-weight: 700;
  font-size: 1.875rem;
  color: var(--logo-color);
  padding: 0 0.3125rem;
}
.logo a::before {
  content: "";
  top: 50%;
  right: 0%;
  transform: translateY(150%);
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  background-color: var(--bg-color);
  position: absolute;
}
.navbar .container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .container ul li {
  padding: 0 0.9375rem;
}
.navbar .container ul li a {
  padding: 0.3125rem 0;
  color: var(--color-tertiary);
  font-size: 1.0625rem;
  font-weight: 600;
  position: relative;
  transition: var(--main-transition);
  font-family: var(--font-default);
}
.navbar .container ul li a:hover,
.navbar .container ul li a.active {
  color: var(--color-black);
}
.navbar .container ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--bg-color);
  width: 0%;
  height: 0.125rem;
  transition: var(--main-transition);
}
.navbar .container ul li a:hover:before,
.navbar .container ul li a.active:before {
  width: 100%;
}
.navbar .container .dark-light {
  display: flex;
}
.navbar .container .dark-light button {
  border: none;
  background: none;
  font-size: 1.875rem;
  color: var(--logo-color);
  cursor: pointer;
}
.navbar .container .mini {
  display: none;
}
@media (max-width: 991px) {
  .navbar .container .mini {
    display: block;
  }
  .navbar .container ul {
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: 0;
    left: 0;
    padding-left: 7.5%;
    background-color: var(--nav-color);
  }
  .navbar .container ul li {
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;
  }
  .navbar .container ul.clicked {
    opacity: 1;
    top: 80%;
  }
}
/* End Nav Bar */
/* Home */
.home {
  height: 100vh;
  background-color: var(--sec-bg);
}
.home .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(25vh);
}
.home .container .image {
  flex-basis: 40%;
  animation: vibrate-1 0.5s ease-in-out 0s infinite;
  animation-play-state: paused;
}
.home .container .image:hover {
  animation-play-state: running;
}
.home .container .home-content h2 {
  font-weight: 700;
  font-size: 4.0625rem;
  color: var(--logo-color);
  font-family: var(--font-primary);
  margin: 0;
}

.home .container .home-content p {
  line-height: 1.625rem;
  color: var(--home-p-color);
}
.home .container .home-content .btns {
  display: flex;
  align-items: center;
}
@media screen {
  .home .container .home-content .btns {
    flex-direction: column;
    margin-top: 40px;
    gap: 40px;
    align-items: flex-start;
  }
}
.home .container .home-content .book {
  color: var(--color-white);
  background-color: var(--bg-color);
  border: none;
  padding: 0.625rem 1.5625rem;
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  margin-right: 0.625rem;
  transition: var(--main-transition);
}
.home .container .home-content .book:hover {
  background-color: var(--hover-bg-color);
}
.home .container .home-content .watch {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  color: var(--color-black);
  font-weight: 500;
  transition: var(--main-transition);
}

.home .container .home-content .watch:hover {
  color: var(--bg-color);
}

.home .container .home-content .watch span {
  box-sizing: content-box;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.4375rem;
  background: linear-gradient(to right, var(--bg-color) 50%, transparent 50%);
  border-radius: 50%;
}
.home .container .home-content .watch i {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  background: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.625rem;
  color: var(--color-black);
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.half-circle {
  width: 12.5rem;
  height: 6.25rem; /* as the half of the width */
  background-color: gold;
  border-top-left-radius: 110px; /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  border: 0.625rem solid gray;
  border-bottom: 0;
}

/* Chefs Section */
.chefs {
  padding-block: 3.125rem;
  text-align: center;
  background: var(--color-white);
}
p.heading {
  font-size: 0.875rem;
  color: var(--color-tertiary);
  margin-bottom: 0;
  text-transform: uppercase;
}
h2.heading {
  font-family: var(--font-primary);
  font-size: 3.125rem;
  font-weight: 400;
  margin-block: 0 1.875rem;
  color: var(--color-black);
}
h2.heading span {
  color: var(--bg-color);
}
.chefs .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 1.875rem;
}
.chefs .content .box {
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0rem 0.8125rem 1.6875rem -0.3125rem,
    rgba(0, 0, 0, 0.3) 0rem 0.5rem 1rem -0.5rem;
  overflow: hidden;
  border-radius: 10px;
  transition: var(--main-transition);
  padding-bottom: 1.5rem;
  background: var(--color-white-17);
}
.chefs .content .box .socials {
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  right: -15%;
  background-color: #ffffff4d;
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  opacity: 1;
  transition: var(--main-transition);
}
.chefs .content .box:hover .socials {
  right: 5%;
  transition-delay: 0.3s;
}
.chefs .content .box .socials a i {
  display: block;
  padding: 0.625rem;
  color: #2125297f;
  transition: var(--main-transition);
}
.chefs .content .box .socials a i:hover {
  color: var(--logo-color);
}

.chefs .content .box img {
  width: 100%;
}

.chefs .content .box .context {
  padding: 1.25rem;
  position: relative;
}
.chefs .content .box:hover {
  transform: scale(1.05);
}
.chefs .content .box .context h3 {
  font-family: "Inter";
  font-size: 1.1875rem;
  font-weight: 700;
  /* color: var(--logo-color); */
  margin-block: 1.25rem 0.625rem;
  color: var(--color-black);
}
.chefs .content .box .context span {
  color: var(--color-tertiary);
  font-family: system-ui;
  font-size: 0.875rem;
}
.chefs .content .box .context p {
  font-size: 0.9375rem;
  font-style: italic;
  color: rgb(127, 127, 144);
  font-weight: 400;
}
/* gallery */
.gallery {
  padding-block: 3.125rem;
  background-color: var(--sec-bg);
  text-align: center;
}
.gallery .box-container {
  columns: 17.5rem 3;
  gap: 1.25rem;
}

.gallery .box-container .box {
  margin-bottom: 1.25rem;
  position: relative;
  overflow: hidden;
  font-family: "Inter";
  padding: 2px;
  background: #fff;
}
.gallery .box-container .box img {
  transition: calc(var(--main-transition) + 0.2s);
  display: block;
}
.gallery .box-container .box:hover img {
  transform: scale(1.1);
}
.gallery .box-container .caption {
  position: absolute;
  color: white;
  width: 100%;
  left: 0;
  top: 120%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0.625rem;
  transition: calc(var(--main-transition) + 0.2s);
}
.gallery .box-container .box:hover .caption {
  inset: 0;
}
.gallery .box-container .box .caption h3 {
  margin-block: 0.5rem;
  font-size: 1.5rem;
}
.gallery .box-container .box .caption p {
  margin-block: 0.5rem;
  font-size: 1rem;
}

/* Contact */
.contact {
  padding-block: 3.125rem;
  background: var(--color-white);
}
.contact .container {
  text-align: center;
}

.contact .container .info {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-block: 1.25rem;
}
.contact .container .info .box {
  text-align: left;
  flex-basis: 100%;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  padding: 0.625rem;
  font-family: "Inter";
  box-shadow: rgba(50, 50, 93, 0.05) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;
}
.contact .container .info .box i {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  color: var(--color-white);
  margin-right: 0.625rem;
}
.contact .container .info .box .caption h3 {
  font-size: 1.25rem;
  color: rgb(125, 125, 125);
  font-weight: 700;
}
.contact .container .info .box .caption p,
.contact .container .info .box .caption p a {
  font-family: var(--font-default);
  color: var(--logo-color);
  font-weight: 300;
}
.contact .container .info .box .caption p span {
  font-weight: 700;
}

@media (min-width: 768px) {
  .contact .container .info {
    justify-content: space-between;
  }
  .contact .container .info .box {
    flex-basis: calc((100% - 1.25rem) / 2);
  }
}
.contact .container form {
  display: flex;
  flex-wrap: wrap;
  box-shadow: rgba(50, 50, 93, 0.05) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;
  gap: 1.25rem;
  padding: 1.25rem;
  padding-bottom: 40px;
  background: var(--form-bg);
}
.contact .container form input,
.contact .container form textarea {
  width: 100%;
  padding: 0.9375rem;
  border: 2px solid hsl(0, calc(0% + 10%), calc(100% - 10%));
  color: var(--logo-color);
  transition: var(--main-transition);
}
.contact .container form input:focus,
.contact .container form textarea:focus {
  outline-color: var(--bg-color);
  border-color: var(--bg-color);
}
.contact .container form button {
  background-color: var(--bg-color);
  color: var(--color-white);
  padding: 0.9375rem 1.875rem;
  border: none;
  border-radius: 1.875rem;
  margin: auto;
}
@media (min-width: 768px) {
  .contact .container form input[name="username"],
  .contact .container form input[name="email"] {
    flex-basis: calc((100% - 1.25rem) / 2);
  }
}

/* Footer */
.footer {
  background-color: black;
  padding-block: 3.125rem;
}
.footer .container {
  display: flex;
  color: white;
  font-family: "Inter";
  flex-wrap: wrap;
}
.footer .container .col {
  flex-basis: 25%;
  padding: 10px;
}
.footer .container .col-2 {
  flex-basis: 50%;
}

.footer .container .logo-container {
  display: flex;
  align-items: center;
}
.footer .container .logo-container h2 a {
  color: white;
}
.footer .container .logo-container img {
  width: 40px;
}
/* Col-1 */
.footer .container .col-1 h3 {
  text-align: center;
  border-bottom: 3px solid #585858;
  padding-block: 20px;
  font-size: 1.1875rem;
  font-weight: 700;
}
.footer .container .col-1 .socials {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
.footer .container .col-1 .socials a i {
  font-size: 20px;
  color: white;
}
/* Col-2 */
.footer .container .col-2 {
  padding-inline: 2.5rem;
}
.footer .container .col-2 h2 {
  text-align: left;
  font-size: 1.1875rem;
}
.footer .container .col-2 form {
  width: 100%;
  display: flex;
  column-gap: 10px;
  margin-block: 20px;
}

.footer .container .col-2 form input {
  flex-grow: 1;
  padding-inline: 20px;
}
.footer .container .col-2 form input:focus {
  border: none;
  outline: none;
}
.footer .container .col-2 form button {
  padding: 15px 25px;
  background-color: var(--bg-color);
  color: white;
  border: none;
  font-weight: bold;
}

.footer .container .col-2 .links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.footer .container .col-2 .links li {
  flex-basis: 50%;
  padding: 10px;
  transition: var(--main-transition);
}
.footer .container .col-2 .links li:hover {
  padding-left: 20px;
  background-color: #222222;
}
.footer .container .col-2 .links li a {
  display: block;
  color: white;
}
.footer .container .col-2 .links li i {
  margin-right: 10px;
}
/* Col-3 */

.footer .container .col-3 ul {
  padding-inline: 15px;
}
.footer .container .col-3 ul li {
  position: relative;
  padding-block: 15px;
}

.footer .container .col-3 ul li i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 101%;
  color: var(--bg-color);
  font-size: 25px;
  margin-right: 5px;
}
.footer .container .col-3 ul li:first-child i {
  right: 101.5%;
}
.footer .container .col-3 ul li a {
  color: white;
}

@media (max-width: 767px) {
  .footer .container {
    flex-direction: column;
  }
  .footer .container .col-1 .logo-container {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .footer .container .col-1 p {
    text-align: center;
  }
  .footer .container .col-1,
  .footer .container .col-2 {
    width: 100%;
  }
  .footer .container .col-2 form {
    flex-direction: column;
  }
  .footer .container .col-2 form input {
    margin-bottom: 15px;
    padding: 15px 25px;
  }
  .footer .container .col-2 h3 {
    text-align: center;
  }
  .footer .container .col-3 ul li {
    padding-left: 30px;
  }
  .footer .container .col-3 ul li i {
    left: 0px;
  }
}

@media (min-width: 768px) and(max-width: 1200px) {
  .footer .container .col-1,
  .footer .container .col-3 {
    order: 1;
    flex-basis: 50%;
    padding-inline: 20px;
  }
  .footer .container .col-2 {
    order: 3;
    flex-basis: 100%;
  }
}

/* Change Theme */
.black-navbar {
  background: #171717;
}
.black-theme-background-main {
  background: #252525;
  color: white;
}
.black-theme-background-sec {
  background: #202020;
  color: white;
}
.dark-color {
  --bg-color: #c17e1f;
  --form-bg: #171717;
  --sec-bg: #202020;
  --color-white: #252525;
  --color-white-17: #171717;
  --color-black: #fff;
  --hover-bg-color: hsl(0, 84%, calc(44% + 5%));
  --logo-color: #fff;
  --home-p-color: #9f9f9f;
  --nav-color: #171717;
}
.d-none {
  display: none;
}
